<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <a class="navbar-brand logo" href="#">KLIMABOX |</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">STORY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.klimabox.mirevi.de">ARCHIV</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
    </ul>
  </div>
</nav>
