.logo {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #197EB7;
  font-size: 4vh;
  margin-left: 2vh;
}

nav {
  background-image: linear-gradient(to bottom, rgba(31, 33, 52, 1), rgba(31, 33, 52, 0));
}

.nav-item {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 3vh;
}

nav .navbar-nav li a {
  color: white !important;
}

a:active {
  font-weight: bold;
}
