<div class="full-avatar-container">
    <div class="full-avatar-first-column">

        <div id="anna" class="full-avatar-image-row-element" style="margin-bottom: 20px;"
            onclick="document.getElementById('content').innerText = 'anna'">
            <div class="full-avatar-image-row-text">
                <div class="name">Anna Ahrend (22)</div>
                <div class="description">Baut ihr Gemüse selbst an</div>
            </div>
            <img class="full-avatar-img" src="https://dummyimage.com/200x150/77216F/f7f7f7">
        </div>
        <div id="hans" class="full-avatar-image-row-element" style="margin-bottom: 20px;"
            onclick="document.getElementById('content').innerText = 'hans'">
            <div class="full-avatar-image-row-text">
                <div class="name">Hans Hansen (57)</div>
                <div class="description">Betreibt einen Demeter-Hof</div>
            </div>
            <img class="full-avatar-img" src="https://dummyimage.com/200x150/77216F/f7f7f7">
        </div>
        <div id="umw" class="full-avatar-image-row-element"
            onclick="document.getElementById('content').innerText = 'umw'">
            <div class="full-avatar-image-row-text">
                <div class="name">Umweltamt Düsseldorf</div>
                <div class="description">Erklärt Fairtrade</div>
            </div>
            <img class="full-avatar-img" src="https://dummyimage.com/200x150/77216F/f7f7f7">
        </div>


    </div>
    <div id="content" class="full-avatar-second-column">
        
    </div>
</div>