<div class="toolbar" role="banner" style="background-color: #5E2750;">
  <span style="margin-left: 18px;">KLIMABOX</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <div class="container">
    <div class="row" style="background-color: #AEA79F; border-radius: 8px;">
      <div class="col-sm">
        <app-full-avatar></app-full-avatar>
      </div>
      <div class="col-sm">
        <app-full-avatar></app-full-avatar>
      </div>
      <div class="col-sm">
        <app-full-avatar></app-full-avatar>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>