<div class="container-fluid">
    <div>
        <h2>{{article.headline}}</h2>
        <div id="heading" class="card">
            <div class="card-body">
                <p class="card-text" [innerHTML]="article.content"></p>
            </div>
        </div>
    </div>

    <a href="" class="next">Zum Fortfahren herunterscrollen <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg></a>
</div>