body, html {
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#heading {
    position: relative;
    margin-bottom: 8%;
}

h2 {
    font-size: 45px;
    font-weight: bold;
    color: black;
    margin-left: 16%;
    z-index: 1;
    position: relative;
}

p {
    font-size: 30px;
    margin-left: 3%;
    margin-right: 3%;
    color: black;
    line-height: normal;
}

.next {
    font-weight: bold;
    float: right;
    margin-right: 0%;
    margin-top: 3%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
    z-index: 1;
    margin-bottom: 2%;
}

a:hover {
    color: grey;
}

.card {
    width: 80%;
    opacity: 0.8;
    border-radius: 25px;
    padding: 3%;
    margin-left: 10%;
    margin-top: 5%;
}

/* Media Queries */

@media (max-width: 768px) {
    h2 {
        font-size: 32px;
        margin-left: 27%;
    }

    p {
        font-size: 24px;
    }

    .card {
        width: 75%;
    }
}

@media (max-width: 992px) {
    
    .card {
        width: 80%;
    }

    p {
        font-size: 24px;
    }
}

@media (max-width: 1200px) {
    h2 {
        margin-left: 13.5%;
    }
    
    .card {
        width: 85%;
        margin-left: 7%;
    }
}