<div class="container-fluid backgroundContainer"
     [ngStyle]="{backgroundImage:'url('+ questionToShow.backgroundImage + ')'}">
  <div class="questionContainer container-sm container-md container-lg container-xl container-xxl">
    <h1>{{ questionToShow.questionTitle }}</h1>
    <div class="row container-sm container-md container-lg container-xl container-xxl">
      <div class="col-12 col-md-8 col-lg-4" *ngFor="let choice of questionToShow.choices">
        <a class="btn btnAnswer" href="{{ choice.link }}"
           [ngStyle]="{left: + choice.posX + 'vw', top: + choice.posY + 'vh'}">
          <img src="{{ choice.imagePath }}" alt="choice-image">
        </a>
      </div>
    </div>
    <div class="row">
      <button class="btn nextButton">Weiter ohne Auswahl >></button>
    </div>
  </div>
</div>
