<div class="container-fluid questionContainer">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4">
      <h1>{{ questionText }}</h1>
    </div>
  </div>
    <div class="row answerBox">
      <div class="col-lg-5 foodButton" *ngFor="let answer of answers">
          <a class="btn btnAnswer {{answer.cssClass}}" href="{{ answer.articleUrl }}"><img src="{{ answer.imageSource }}"></a>
      </div>
    </div>
  <div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
      <button class="btn nextButton">Weiter ohne Auswahl >></button>
    </div>
  </div>
  </div>

