
.graffiti1{
    width: 100%;
    height: 162%;
    top: -79%;
    left: -34%;
}

.graffiti2{
    width: 100%;
    height: 195%;
    top: -119%;
    left: 118%;
}

.street{
    width: 100%;
    height: 100%;
}

.tree1{
    width: 29%;
    height: 73%;
    left: 10%;
    top: 5%;
}
.tree2{
    width: 29%;
    height: 73%;
    left: 51%;
    top: 2%;
}

.tree3{
    width: 29%;
    height: 73%;
    left: 112%;
    top: 6%;
}

.hochhaus{
    top: -64%;
    left: 61%;
    width: 61%;
}

.car{
    left: 37%;
    top: 45%;
    width: 51%;
}

.human{
    top: 40%;
    left: 51%;
    opacity: 0;
}

.wall{
    left: 164%;
    top: -11%;
    width: 100%;
    height: 100%;
}

.door{
    top: 41%;
    left: 26%;
}

.takeItEasy{
    top: 46%;
    left: 9%;
}

.techSolutions{
    top: 14%;
    left: 25%;
}

.telephone{
    top: 42%;
    left: 52%;
}

.lamp {
    top: 29%;
    left: 157%;
    width: 14%;
}

.blackCut{
    top: 100%;
}

.laptop{
    top: 50%;
    left: 77%;
}

.tv{
    top: 35%;
    left: 80%;
}

.indoorLamp{
    top: 36%;
    left: 71%;
}

.drone{
    top: 73%;
    left: 37%;
}

.plant1{
    top: 61%;
    left: 84%;
}

.plant2{
    top: 60%;
    left: 55%;
    width: 5%;
}

.plant3{
    top: 56%;
    left: 63%;
    width: 4%;
}