
.graffiti1 {
    width: 100%;
    height: 162%;
    top: -79%;
    left: -34%;
}

.graffiti2 {
    width: 100%;
    height: 195%;
    top: -119%;
    left: 118%;
}

.street {
    width: 100%;
    height: 100%;
}

.tree1 {
    width: 29%;
    height: 73%;
    left: 10%;
    top: 5%;
}

.tree2 {
    width: 29%;
    height: 73%;
    left: 51%;
    top: 2%;
}

.tree3 {
    width: 29%;
    height: 73%;
    left: 112%;
    top: 6%;
}

.hochhaus {
    top: -64%;
    left: 61%;
    width: 61%;
}

.car {
    left: 37%;
    top: 45%;
    width: 51%;
}

.human {
    top: 40%;
    left: 51%;
    opacity: 0;
}

.wall {
    left: 164%;
    top: -11%;
    width: 100%;
    height: 100%;
}

.door {
    top: 41%;
    left: 26%;
}

.takeItEasy {
    top: 46%;
    left: 9%;
}

.techSolutions {
    top: 14%;
    left: 25%;
}

.telephone {
    top: 42%;
    left: 52%;
}

.lamp {
    top: 29%;
    left: 157%;
    width: 14%;
}

.blackCut {
    top: 100%;
}

.laptop {
    top: 43%;
    left: 77%;
}

.tv {
    top: 30%;
    left: 80%;
}

.indoorLamp {
    top: 34%;
    left: 71%;
}

.drone {
    top: 64%;
    left: 37%;
}

.plant1 {
    top: 55%;
    left: 84%;
}

.plant2 {
    top: 54%;
    left: 55%;
    width: 5%;
}

.plant3 {
    top: 50%;
    left: 63%;
    width: 4%;
}

.massenvisualsierung1 {
    top: -108%;
    width: 100%;
    height: 100%;
}

.massenvisualsierung2 {
    top: -29%;
    width: 100%;
    height: 100%;
}

.mText {
    text-align: center;
    top: -50%;
    background: rgba(1, 1, 1, 0.5);
    font-size: 270%;
    backdrop-filter: blur(5px);
    height: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.mContainer {
    top: 220%;
}

.mParticle {
    animation: show-animation 4s infinite ease-in-out;
}

.desk {
    top: 2%;
}

.notebook {
    top: 50%;
    left: 62%;
}

.tablet {
    top: 71%;
    left: 39%;
}

.smartphone {
    top: 75%;
    left: 19%;
}

.choiceText {
    width: 60%;
    top: 30%;
    left: 21%;
    font-size: 215%;
    backdrop-filter: blur(6px);
    text-align: center;
    background: rgba(1, 1, 1, 0.4);
    border-radius: 25px;
}

.smartphonePath {
    top: 48%;
    left: -40%;
}

.app {
    top: 47.5%;
    left: 68%;
}

.appSelection {
    top: 47.3%;
    width: 8%;
    left: 67.4%;
}

.klimaboxAppLogo {
    top: 52.5%;
    left: 68%;
    font-size: 62%;
}

.appScreen {
    top: 21%;
    width: 90%;
    transform: rotateZ(90deg);
    left: 22%;
}

.topbar {
    transform: rotateZ(180deg);
}

.time {
    left: 1%;
    color: black;
    padding-top: 1%;
    font-size: 82%;
}

.battery {
    padding-top: 1%;
    left: 89%;
    width: 8%;
}

.batteryLife {
    left: 83%;
    color: black;
    padding-top: 1%;
    font-size: 82%;
}

@keyframes show-animation {
    from {
        top: -130%
    }
    to {
        top: 70%
    }
}

