<div class="background">
    <div class="header">
        <h1 class="headerfont">Sieh, wie die Klimakrise unsere Welt verändert. <br/>
            Und was wir dagegen
            tun können.</h1>
        <div class="arrow">
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="fade">
        <br>
    </div>
    <section class="bottom">
        
            
            
        <div class="component">
            <h1>Kapitelübersicht</h1>
            <div class="chapterdiv">
                <div class="chapters" *ngFor="let chapter of chapters">
                    <app-chapter-button class="chapter-button" [chapternumber]="chapter.chapternumber" [imgurl]="chapter.imgurl" [title]="chapter.title"></app-chapter-button>
                </div>
            </div>
                <h2 class="start">Starten >></h2>
            
            
        </div>
    </section>
</div>
