#graffitiBackground {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#car {
  position: fixed;
  top: 45%;
  left: -50%;
}
#posterBackground {
  position: fixed;
  z-index: 0;
  top: 70px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#carArticle {
  position: fixed;
  top: -35%;
  left: -8%;
  width: 105%;
  z-index: 10;
  transform: scale(0.4,0.4);
}
#particleComponent {
  position: relative;
  top: 1700px;
}
#particleComponent .backgroundContainer {
  opacity: 0;
}
#carQuiz .quiz-component{
  opacity: 0;
}

#articleZoomedIn {
  opacity: 0;
}

#graffitiWall {
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
}

#carArticle2 {
  width: 100%;
  position: fixed;
  top: 20%;
}

#carQuiz {
  width: 100%;
  position: fixed;
  top: 20%;
}

#carChart {
  width: 100%;
  position: fixed;
  top: 1700px;
  /* top: 20%; */
}

#chapter2_question1 {
  width: 100%;
  position: fixed;
  top: 3400px;
  transform: scale(0.6,0.6);
}


