#graffitiBackground {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#posterBackground {
  position: fixed;
  z-index: 0;
  left: 200px;
  top: 70px;
}
#carArticle {
  position: fixed;
  top: -35%;
  left: -8%;
  width: 105%;
  z-index: 10;
  transform: scale(0.4,0.4);
}
#particleComponent {
  position: relative;
  top: 1200px;
}
#particleComponent .backgroundContainer {
  opacity: 0;
}

#articleZoomedIn {
  opacity: 0;
}

#graffitiWall {
  width: 100%;
  bottom: -5%;
  position: fixed;
}

#carArticle2 {
  width: 100%;
  position: fixed;
  top: 20%;
}
