<div id="contentContainer">
  <div id="articleZoomedOut">
    <img src="assets/images/chapter2/chapter2_complete_wall_background.png" id="graffitiBackground">
<!--    <app-article [requestedTopic]="requestedTopic" id="carArticle"></app-article>-->
  </div>
  <div id="articleZoomedIn">
    <img src="assets/images/chapter2/kapitel2_posterWall_background.png" id="graffitiWall">
    <img src="assets/images/chapter2/kapitel2_poster_front.png" id="posterBackground">
    <app-article [requestedTopic]="requestedTopic" id="carArticle2"></app-article>
  </div>
  <app-mass-visualization [massVisualizations]="massVisualization" id="particleComponent"></app-mass-visualization>
  <app-quiz [requestedQuizTopic]="requestedQuizTopic" id="carQuiz"></app-quiz>
  <app-chart [heading]="'Von Tür zu Tür im Stadtverkehr (3 km in Minuten)'" [charts]="charts" id="carChart"></app-chart>
  <app-personalization-question [personalQuestions]="question" id="chapter2_question1"></app-personalization-question>
</div>
