<div class="container-fluid">
    <div>
        <h2>{{quizQuestion.questionContent}}</h2>
        <div class="questionmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-question" viewBox="0 0 16 16">
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
            </svg>
        </div>
        <div id="heading" class="card">
            <div class="card-body">
                <form [formGroup]="formGroup">
                    <div formControlName="answer" name="answer" (change)="onChange($any($event.target).value)" required>
                      <div class="form-check" *ngFor="let option of quizQuestion.quizOptions">
                          <input type="radio" class="btn-check" name="options" id="option1" [value]="option.optionNumber" 
                            [ngClass]="{'is-correct': isCorrect(option.optionNumber), 'is-incorrect': isIncorrect(option.optionNumber)}"/>
                          <label class="btn btn-light" for="option1" id="content">{{ option.optionContent }}</label>

                          <div class="solution">
                            <div *ngIf="isCorrect(option.optionNumber) && !!isIncorrect(option.optionNumber)">
                                <div class="correct">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                      </svg>
                                </div>
                            </div>
                            <div *ngIf="isIncorrect(option.optionNumber)">
                                <div class="incorrect">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                      </svg>
                                </div>
                            </div>
                        </div>
                          
                      </div>  
                    </div>
                </form>
               
            </div>
        </div>
    </div>

    <a href="" class="next">Zum Fortfahren herunterscrollen <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg></a>
</div>
