<div class="container-fluid">
    <div>
        <h2>{{quizQuestion.questionContent}}</h2>
        <div id="heading" class="card">
            <div class="quizFeedback">
                <img *ngIf="!this.quizAttempted" src='../../assets/images/chapter2/Questionmark.png' />
            </div>
            <div class="card-body">
                <div id="answer-buttons" *ngFor="let option of quizQuestion.quizOptions">
                    <img *ngIf="!!(isCorrect(option.optionNumber) && !!isIncorrect(option.optionNumber))" src='../../assets/images/chapter2/Correct.png' id="right"/>
                    <img *ngIf="!!(isIncorrect(option.optionNumber) && !isCorrect(option.optionNumber))" src='../../assets/images/chapter2/Incorrect.png' id="wrong"/>
                    <button class="btn" id="content" 
                    [ngClass]="{'is-correct': isCorrect(option.optionNumber), 'is-incorrect': isIncorrect(option.optionNumber)}"
                    (click)="onChange($any($event.target).value)"
                    [value]="option.optionNumber" 
                    >{{ option.optionContent }}</button>
                        
                </div>
            </div>
        </div>
    </div>

    <a href="" class="next">Zum Fortfahren herunterscrollen <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg></a>
</div>
