@keyframes animation {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.shape1,
.shape2 {
  animation-name: animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.shape1 {
  animation-delay: 0.3s;
}
