@keyframes animation {
  0% {
    opacity: 0;
    transform: translate(0, -1rem);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, 1rem);
  }
}

.shape1,
.shape2 {
  animation-name: animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.shape2 {
  animation-delay: 0.2s;
}
