.container{
    width: 55vw;
    min-width: 200px;
    margin-right: clamp(60px, 20%, 250px);
    margin-left: clamp(60px, 20%, 250px);
    padding: 5%;
}
.recommendations{
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.items{
    display: flex;
    flex-direction: row;
    width: clamp(100px, 21.5vw, 300px);
    min-height: 10vh;
}
h5{
    font-weight: bold;
}