.chapter-number {
  float: left;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  float: left;
}

.filled {
  background-color: blue;
}

.empty {
  background-color: black;
}

.rectangle {
  height: 30px;
  width: 5px;
  margin-left: 18px;
  clear: both;
}
