.chapter-line {
  position: absolute;
  top: 1%;
  right: 1%;
}

.chapter-number {
  float: left;
  font-size: 0.7vw;
}

.dot {
  height: 1.1vw;
  width: 1.1vw;
  background-color: black;
  border-radius: 50%;
  float: left;
}

.filled {
  background-color: #197EB7;
}

.empty {
  background-color: #FFFFFF;
}

.rectangle {
  height: 1.3vw;
  width: 0.2vw;
  margin-left: 0.85vw;
  clear: both;
}
