.buildingA {
  width: 48%;
  left: 52%;
}

.buildingB {
  right: -26%;
  width: 100%;
  top: 34rem;
}

.buildingC {
  right: 65%;
  width: 35%;
  top: 35rem;
}

.sun {
  top: 14%;
  opacity: 0.7;
}

.street {
  right: 0.01%;
  width: 110%;
  top: 66rem;
}

.clue {
  bottom: 10%;
  right: 5%;
  width: 30%;
}

.headerline {
  padding: 0 0 3% 10%;
}

.text {
  top: 17rem;
  padding-left: 20%;
}

.continue {
  left: 61.5%;
  top: 33rem;
}

.train {
  top: 60rem;
  right: 80%;
  width: 75%;
  z-index: 1;
}

.bicycle {
  top: 72rem;
  width: 20%;
  right: 75%;
  z-index: 2;
}

.car {
  z-index: 1;
  width: 63%;
  top: 58rem;
  left: 31%;
}

.graffiti {
  top: 0rem;
}

.graffitiBackground {
  left: 21.7%;
  top: 42.5rem;
  width: 28%;
}

.hochhaus {
  left: 155%;
  top: -19rem;
}

.endScene {
  width: 100%;
  left: 189%;
  z-index: -1;
}

.streetEnd {
  top: 41rem;
}

.wall {
  top: 19rem;
}

.allWeHaveIsNow {
  top: 58rem;
  left: 71%;
}

.streetlamp {
  top: 59rem;
  left: 38.5%;
  z-index: 1;
}

.takeItEasy {
  top: 76rem;
  left: 53%;
}

.human {
  top: 79.15rem;
  left: 27%;
  z-index: 1;
}

.door {
  top: 69rem;
  left: 69%;
}

.telephone {
  top: 79.5rem;
  left: 92.5%;
}

.massenvisualsierung{
  opacity: 1;
  top: 100rem;
}