.buildingA {
    width: 45%;
}

.buildingB {
    right: 38%;
    width: 35%;
    padding-top: 55%;
}

.buildingC {
    right: 65%;
    width: 35%;
    padding-top: 59%;
}

.sun {
    top: 14%;
    opacity: 0.7;
}

.street {
    right: 0.01%;
    width: 110%;
    padding-top: 79%;
}

.clue {
    bottom: 10%;
    right: 5%;
    width: 30%;
}

.headerline {
    padding: 0 0 3% 10%;
}

.text {
    top: 17rem;
    padding-left: 20%;
}

.continue{
    left: 61.5%;
    top: 28%;
}

.train{
    padding-top: 74%;
    right: 80%;
    width: 75%;
    z-index: 1;
}

.bicycle{
    padding-top: 87%;
    width: 20%;
    right: 75%;
    z-index: 2;
}

.car{
    z-index: 1;
    width: 63%;
    top: 67%;
    left: 31%
}