#triggerDiv {
  width: 100%;
  height: 100%;
}

#posterBackground {
  position: fixed;
  z-index: 0;
  top: 70px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#graffitiWall {
  top: 0px;
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
}
#bikeAccordion {
  width: 40%;
  margin-right: 30%;
  margin-left: 30%;
  top: 30%;
  position: fixed;
  z-index: 10;
}
#article-recommendation {
  top: 1700px;
  position: fixed;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  z-index: 10;
}
#graffitiBackground {
  top: 0px;
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#articleZoomedOut {
  opacity: 0;
}
#small-article-recommendation {
  position: fixed;
  top: 0.5%;
  width: 90%;
  margin-right: 7%;
  margin-left: 3%;
  transform: scale(0.6, 0.6);
  z-index: 10;
}
#bike {
  position: fixed;
  top: 40%;
  left: -10%;
}
#contentContainer {
  height: 5000px;
}
