<div id="contentContainer">
  <div id="triggerDiv"></div>
  <div id="contentZoomedIn">
    <img src="assets/images/chapter2/kapitel2_posterWall_background.png" id="graffitiWall">
    <img src="assets/images/chapter2/kapitel2_poster_front.png" id="posterBackground">
    <app-audio-accordion id="bikeAccordion"></app-audio-accordion>
    <app-article-recommendation id="article-recommendation"></app-article-recommendation>
  </div>
</div>
<app-sound-option></app-sound-option>
<app-chapter-indicator [numberOfChapters]="5" [currentChapter]="1"></app-chapter-indicator>
