#backgroundContainer {
  background-image: url("../../assets/images/personalization-question/kapitel1_table_background.png");
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-top: 8%;
  z-index: 0;
}

#tableBackground {
  position: fixed;
  width: 100%;
  top:0px;
}

#mass {
  z-index: 100;
}

#intro{
    height: 8000px;
}
#buildingA {
    position: fixed;
    right: 0%;
    bottom: -200%;/*100vh;*/
    width: 45%;
}
#buildingB {
    position: fixed;
    right: 41%;
    bottom: -100%;/*100vh;*/
    width: 30%;
}
#buildingC {
    position: fixed;
    right: 70%;
    bottom: -100%;/*100vh;*/;
    width: 35%;
}
#stars {
    position: fixed;
    width: 100%;
    top:0px;

}
#mountain {
    position: fixed;
    width: 100%;
    bottom: -10%;
}
#sun {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    top: 100%;
    left: 0%;
}

#headline {
    position: absolute;
    color: white;
    top: 10%;
    left: 5%;
    width: 35%;
    /*font-size: 100px;
    font-weight: bold;
    line-height: 85px;*/
}

#headline p:nth-child(2) {
    margin-left: 15px;
}

#clue {
    position: fixed;
    color: white;
    bottom: 10%;
    right: 5%;
    width: 30%;
    /*font-size: 50px;
    font-weight: bold;*/
}

#text {
    position: fixed;
    color: white;
    top: 45%;
    left: 42%;
    width: 20%;
    /*font-size: 50px;
    line-height: 40px;*/
    opacity: 0;
}

#text p:nth-child(1){
    margin-left: 50px;
    font-weight: bold;
}

#text p:nth-child(2){
    margin-left: 50px;
}

app-sound-option {
  position: fixed;
  width: 5%;
}

#fleisch-headline {
  position: relative;
  top: 700px;
}

#foodChart {
  position: relative;
  top: 300px;
}

#questionFood2 {
  position: absolute;
  top: 14000px;
  left: 200px;
  width: 100%;
  height: 100%;
}

#foodAccordion {
  position: absolute;
  top: 16000px;
  left: 550px;
  padding-bottom: 300px;
}
