<img src="assets/images/personalization-question/kapitel1_table_background.png" id="tableBackground">
<div id="intro">
  <img src="assets/images/intro/kapitel1_intro_stars_background.png" id="stars">
  <img src="assets/images/intro/kapitel1_intro_sunrise.png" id="sun">
  <img src="assets/images/intro/kapitel1_intro_stars_foreground.png" id="mountain">
  <img src="assets/images/intro/kapitel1_intro_building-3.png" id="buildingC">
  <img src="assets/images/intro/kapitel1_intro_building-2.png" id="buildingB">
  <img src="assets/images/intro/kapitel1_intro_building-1.png" id="buildingA">
  <img src="assets/images/intro/kapitel1_intro_hl.png" id="headline">
  <img src="assets/images/intro/kapitel1_intro_clue.png" id="clue">
  <img src="assets/images/intro/kapitel1_intro_txt.png" id="text">
</div>
<app-personalization-question [personalQuestions]="question"></app-personalization-question>
<app-zoom-headline [headlineImages]="zoomHeadlineImage" id="fleisch-headline"></app-zoom-headline>
<app-mass-visualization [massVisualizations]="massVisualization"></app-mass-visualization>
<app-article [requestedTopic]="requestedTopic"></app-article>
<div class="container card">
  <app-chart [charts]="charts"></app-chart>
</div>
<app-personalization-question [personalQuestions]="question2"></app-personalization-question>
<div id="audioAccordion">
  <!-- TODO -->
</div>
