<div class="accordion">
    <div class="audio-player-box" style="margin-bottom: 20px;">
        <div class="audio-player-header">
            <div class="audio-player-header-start">
                <div class="audio-player-header-name">Erika Musterfrau</div>
                <div class="audio-player-header-description">Benötigen wir mehr Sicherheit auf Düsseldorfs Straßen?
                </div>
            </div>
            <div class="audio-player-header-end">
                <img id="first-icon" class="audio-player-header-expand-icon" src="assets/audio-accordion/images/expand-24px.svg">
                <img src="assets/audio-accordion/images/bookmark_add-24px.svg"
                    class="audio-player-header-bookmark-icon">
            </div>
        </div>
        <div id="first-mid" class="audio-player-mid, min">
            <img class="audio-player-image" src="assets/audio-accordion/images/kapitel1_testimonial-1.png">
            <div class="audio-player-text-box">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
        </div>
        <audio class="audio-player" controls="controls">
            <source src="assets/audio-accordion/audio/chicken2.mp3" type="audio/mp3" />
        </audio>
    </div>

    <div class="audio-player-box" style="margin-bottom: 20px;">
        <div class="audio-player-header">
            <div class="audio-player-header-start">
                <div class="audio-player-header-name">Erika Musterfrau</div>
                <div class="audio-player-header-description">Benötigen wir mehr Sicherheit auf Düsseldorfs Straßen?
                </div>
            </div>
            <div class="audio-player-header-end">
                <img id="second-icon" class="audio-player-header-expand-icon" src="assets/audio-accordion/images/expand-24px.svg">
                <img src="assets/audio-accordion/images/bookmark_add-24px.svg"
                    class="audio-player-header-bookmark-icon">
            </div>
        </div>
        <div id="second-mid" class="audio-player-mid, min">
            <img class="audio-player-image" src="assets/audio-accordion/images/kapitel1_testimonial-1.png">
            <div class="audio-player-text-box">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
        </div>
        <audio class="audio-player" controls="controls">
            <source src="assets/audio-accordion/audio/chicken2.mp3" type="audio/mp3" />
        </audio>
    </div>

    <div class="audio-player-box">
        <div class="audio-player-header">
            <div class="audio-player-header-start">
                <div class="audio-player-header-name">Erika Musterfrau</div>
                <div class="audio-player-header-description">Benötigen wir mehr Sicherheit auf Düsseldorfs Straßen?
                </div>
            </div>
            <div class="audio-player-header-end">
                <img id="third-icon" class="audio-player-header-expand-icon" src="assets/audio-accordion/images/expand-24px.svg">
                <img src="assets/audio-accordion/images/bookmark_add-24px.svg"
                    class="audio-player-header-bookmark-icon">
            </div>
        </div>
        <div id="third-mid" class="audio-player-mid, min">
            <img class="audio-player-image" src="assets/audio-accordion/images/kapitel1_testimonial-1.png">
            <div class="audio-player-text-box">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
        </div>
        <audio class="audio-player" controls="controls">
            <source src="assets/audio-accordion/audio/chicken2.mp3" type="audio/mp3" />
        </audio>
    </div>
</div>

