<div class="container">
    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#E78182" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="bookmark" id="{{ title }}" (click)="toggleBookmark()">
        <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
    </svg>
    <div class="button" (click)="routeToUrl(url)">
        <input class="img" type="image" src= "{{ imgurl }}" id="article-img" alt="" />
        <div class="description">
            <p class="title">
                {{ title }}
            </p>
            <p class="subtitle">
                {{ description }}
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="tags">

        </div>
        <p class="date">
            {{ date }}
        </p>
    </div>
</div>

