<div class="container">
    <div class="button">
        <input class="img" type="image" src= "{{ imgurl }}" id="article-img" alt="" />

        <div class="description">
            <p class="title">
                {{ title }}
            </p>
            <p class="subtitle">
                {{ description }}
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="tags">

        </div>
        <p class="date">
            {{ date }}
        </p>
    </div>
</div>

