#intro2 {
  overflow-x: hidden;
}
#stars {
  position: fixed;
  width: 100%;
  top:0;
  z-index: 0;
}
#intro2 {
  height: 200vh;
}

#building {
  position: absolute;
  width: 100vw;
  top: -40%;
}

#sun {
  position: fixed;
  opacity: 0.7;
  top: 10%;
  width: 80%;
  left: 10%;
}
#clue {
  position: absolute;
  color: white;
  bottom: 10%;
  right: 5%;
  width: 30%;
}
#headline {
  position: absolute;
  color: white;
  font-size: 17pt;
  bottom: 13.5%;
  right: 28%;
}
#text {
  position: absolute;
  color: white;
  top: 22%;
  left: 15%;
  font-size: 20pt;
}
#textline {
  position: relative;
}
#choiceContainer1 {
  position: relative;
  z-index: 2;
  top: -40%;
}
#chapter2_question1{
  top: 150%;
  position: absolute;
}

