<!--<img src="assets/images/intro/kapitel1_intro_stars_background.png" id="skyBackground">-->
<div id="intro2">
  <img src="assets/images/intro/kapitel1_intro_sunrise.png" id="sun">
  <img src="assets/images/intro/kapitel1_intro_building-3.png" id="buildingC">
  <img src="assets/images/intro/kapitel1_intro_building-2.png" id="buildingB">
  <img src="assets/images/intro/kapitel1_intro_building-1.png" id="buildingA">
</div>
<app-personalization-question [personalQuestions]="question"></app-personalization-question>
<app-article [requestedTopic]="requestedTopic"></app-article>
<app-mass-visualization [massVisualizations]="massVisualization"></app-mass-visualization>
<!--Quiz Component-->
<!-- CO2-Rechner-->
<app-chart [charts]="charts"></app-chart>
<app-personalization-question [personalQuestions]="question2"></app-personalization-question>
<app-audio-accordion></app-audio-accordion>
<app-article-recommendation></app-article-recommendation>
