<!--<img src="assets/images/intro/kapitel1_intro_stars_background.png" id="skyBackground">-->
<div id="intro2">
  <img src="assets/images/intro/kapitel1_intro_stars_background.png" id="stars">
  <img src="assets/images/intro/kapitel1_intro_sunrise.png" id="sun">
  <img src="assets/images/chapter2/Gebäude_Background.png" id="building">
  <img src="assets/images/intro/kapitel1_intro_clue.png" id="clue">
  <p id="headline">Kapitel 2</p>
  <div id="text">
      <p><b>Morgens, 8 Uhr</b></p>
      <p id="textline">Auf dem Weg zur Arbeit</p>
  </div>
</div>
<app-chapter-indicator [numberOfChapters]="5" [currentChapter]="2"></app-chapter-indicator>
<app-personalization-question [personalQuestions]="question"></app-personalization-question>
<app-article [requestedTopic]="requestedTopic"></app-article>
<app-mass-visualization [massVisualizations]="massVisualization"></app-mass-visualization>
<!--Quiz Component-->
<!-- CO2-Rechner-->
<app-chart [charts]="charts"></app-chart>
<app-personalization-question [personalQuestions]="question2"></app-personalization-question>
<app-audio-accordion></app-audio-accordion>
<app-article-recommendation></app-article-recommendation>
