/*#intro2 {
  overflow-x: hidden;
  height: 400vh;
}*/
#stars {
  position: fixed;
  width: 100%;
  top:0;
  z-index: 0;
}
#sun {
  position: fixed;
  opacity: 0.7;
  top: 10%;
  width: 80%;
  left: 10%;
}
#building {
  position: absolute;
  width: 100vw;
  top: -400px;
}
#clue {
  position: absolute;
  color: white;
  width: 30%;
  top: 850px;
  left: 1200px;
}
#chapterLine {
  position: absolute;
  color: white;
  font-size: 17pt;
  top: 810px;
  left: 1245px;
}
#text {
  position: absolute;
  color: white;
  top: 200px;
  left: 300px;
  font-size: 20pt;
}
#textline {
  position: relative;
}
#choiceContainer1 {
  position: relative;
}
#chapter2_question1{
  position: absolute;
  width: 100%;
  top: 1200px;
}
app-chapter-indicator {
  z-index: 10;
}

