.date {
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: 100%;
    bottom: 2px;
    width: 1.5rem;
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(./calendar.svg);
  }
}

.tags {
  position: relative;
  flex: 1;
  margin: -theme("margin[1]");

  & > button {
    background: theme("colors.em2.DEFAULT");
    transition: 0.2s ease background-color;
    color: white;
    border-radius: theme("borderRadius.xl");
    padding: theme("padding[0.5]") theme("padding.3");
    margin: theme("margin[1]");

    &:hover {
      background: theme("colors.em2.enhanced");
    }
  }
}
